<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:config.properties"/>

    <!--配置zookeeper服务器发现端-->
    <bean id="serviceDiscovery" class="com.netty.NettyRPC.zk.ServiceDiscovery">
        <constructor-arg name="zkServerAddress" value="${zk.server.address}"/>
        <constructor-arg name="path" value="${zk.root.path}"/>
        <constructor-arg name="sessionTimeout" value="${zk.sessiontimeout}"/>
    </bean>

    <bean id="rpcSendExcutor" class="com.netty.NettyRPC.rpcclient.RPCSendExcutor">
        <constructor-arg name="serviceDiscovery" ref="serviceDiscovery"/>
        <!--<property name="serviceDiscovery" ref="serviceDiscovery"/>-->
    </bean>
</beans>